// $ff-primary: 'Source Sans Pro', sans-serif;
$ff-primary: 'Inter', sans-serif;


$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 900;

// Font Sizes
$fs-700: 3rem; // 48px - Hero text
$fs-500: 2.25rem; // 36px - Secondary/Section bold text
$fs-300: 1.125rem; // 18px - Main text